.hidden {
    display: none;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #FAFAFA;
}

.title-screen {
    background-color: #EC362D;
    width: 100%;
    height: 69px;
    color: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

/* screen number one - quiz list - outset --> */

.content-screen-one {
    margin-top: 77px;
    margin-left: auto;
    margin-right: auto;
    width: 1051px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.none-quiz {
    border: 1px dashed #D4D4D4;
    border-radius: 5px;
    width: 100%;
    height: 181px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.none-quiz p {
    color: #B9B9B9;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
}

.none-quiz button {
    width: 151px;
    height: 40px;
    border: 1px dashed #EC362D;
    border-radius: 50px;
    text-align: center;
    color: #EC362D;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 21px;
    line-height: 23px;
    background: none;
    cursor: pointer;
}


.all-quizzes {
    margin-top: 77px;
}

.all-quizzes h1,
.your-quizzes h1 {
    color: #000000;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 20px;
    line-height: 23px;
    font-weight: bold;
    margin-bottom: 12px;
}


.your-quizzes h1 {
    margin-top: 5px;
}

.your-quizzes ion-icon {
    width: 30px;
    height: 30px;
    color: red;
    margin-bottom: 12px;
    margin-left: 10px;
}

.quizzes {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.quizz img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.quizz {
    position: relative;
    width: 340px;
    height: 181px;
    margin-bottom: 12px;
    margin-right: 10px;
    cursor: pointer;
}

.quizz .quizz-title {
    width: 100%;
    color: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 19px;
    line-height: 22px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    padding: 0 0 15px 15px;
    background-image: linear-gradient(to bottom, rgb(0, 0, 0, 0), rgb(0, 0, 0, 1));
    border-radius: 5px;
}

.top-your-quizzes {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

/* screen number one - quiz list - end --> */



/* screen number two - play the quiz - outset */

.img-title {
    height: 227px;
    background: black;
    position: relative;
    margin-bottom: 42px;
}

.img-title img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0.6;
}

.img-title p {
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 39px;
    line-height: 45.7px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.question {
    width: 759px;
    background-color: #FFFFFF;
    margin: 0 auto 42px;
    padding-top: 28px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.question-title {
    width: 688px;
    min-height: 138px;
    margin: 0 auto;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.question-title p {
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
}

.answer-container-2 {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    column-gap: 24.3px;
    row-gap: 18.6px;
    padding: 20px 36.4px 35px;
}

.answer-container-3-4 {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    column-gap: 24.3px;
    row-gap: 18.6px;
    padding: 20px 36.4px 35px;
}

.answer {
    min-height: 50px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.answer img {
    width: 100%;
    height: 175px;
    object-fit: cover;
}

.answer p {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 23.44px;
    color: black;
    margin-top: 10px;
}

.gameScore {
    width: 759px;
    background-color: #FFFFFF;
    margin: 0 auto 57px;
    padding-top: 18px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.scoreTitle {
    width: 727px;
    min-height: 99px;
    margin: 0 auto;
    background-color: #EC362D;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scoreTitle p {
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
}

.scoreContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 21px;
    padding: 18px 18px 22px;
}

.scoreContainer img {
    width: 100%;
}

.scoreContainer p {
    color: #484848;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 19px;
    line-height: 25px;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttonReinit {
    width: 261px;
    height: 52px;
    background-color: #EC362D;
    border: none;
    border-radius: 15px;
    color: #FFF5F4;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 21px;
    line-height: 24.61px;
    margin-bottom: 16px;
    cursor: pointer;
}

.buttonBackHome {
    width: 220px;
    height: 44px;
    background-color: #FAFAFA;
    border: none;
    color: #818181;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 21px;
    line-height: 24.61px;
    margin-bottom: 85px;
    cursor: pointer;
}

/* screen number two - play the quiz - end */



/* screen number three - create quiz - outset */

.containerscreennumberthree {
    display: flex;
    align-items: center;
    justify-content: center;
}

.titlescreennumberthree {
    display: flex;
    justify-content: center;
}

.necessaryinformations {
    margin-top: 27px;
    width: 600px;
    height: 256px;
    box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #FFFFFF;
    padding-left: 16px;
}

input {
    width: 564px;
    height: 46px;
    border-radius: 5px;
    border: solid 1px #D1D1D1;
    background-color: #FFFFFF;
    color: #BABABA;
    font-style: italic;
    line-height: 22px;
    font-size: 19px;
    font-weight: 400;
    margin-bottom: 5px;
    padding-left: 23px;
}

.QuizzCreator h3 {
    margin-top: 140px;
    font-family: Roboto;
    font-size: 23px;
    font-weight: 700;
    line-height: 27px;
    color: #000000;
}

.thebutton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 35%;
}

.thebutton button {
    background-color: #EC362D;
    height: 54px;
    width: 368px;
    border-radius: 15px;
    margin-top: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    font-weight: 400;
    line-height: 25px;
    color: #FFF5F4;
    cursor: pointer;
}

/* screen number three - create quiz - end */



/* screen number four - create questions - outset */

.containerscreennumberfour {
    display: flex;
    justify-content: center;
    align-items: center;
}

h4 {
    margin-bottom: 38px;
}

.QuestionsCreator {
    margin-top: 132px;
}

.QuestionsCreator h4 {
    font-size: 23px;
    font-weight: 700;
    line-height: 27px;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titlescreennumberfour {
    display: flex;
    justify-content: center;
}

.subcontainer {
    background-color: #ffffff;
    box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.2);
    margin-bottom: 38px;
    max-height: 1500px;
    transition: max-height 500ms;
}

.QuestionNumber {
    margin-top: 0px;
}

.ToClick {
    display: flex;
    justify-content: space-between;
    padding-top: 27px;
    margin-left: 19px;
    margin-right: 17px;
    margin-bottom: 12px;
}

.ToClick h3 {
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
}

.ToClick ion-icon {
    height: 23px;
    width: 25px;
    display: none;
    cursor: pointer;
}

.QuestionConfig {
    display: flex;
    flex-direction: column;
}

input {
    width: 564px;
    height: 46px;
    border-radius: 5px;
    border: solid 1px #d1d1d1;
    background-color: #ffffff;
    color: #bababa;
    font-style: italic;
    line-height: 22px;
    font-size: 19px;
    font-weight: 400;
    margin-left: 19px;
    margin-right: 17px;
    margin-bottom: 5px;
    padding-left: 23px;
}

.two {
    margin-bottom: 5%;
}

.QuizzAnswers {
    display: flex;
    flex-direction: column;
}

.QuizzAnswers h3 {
    margin-left: 19px;
    margin-right: 17px;
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
    margin-top: 28px;
    margin-bottom: 14px;
    background-color: #ffffff;
}

.WrongAnswers {
    display: flex;
    flex-direction: column;
}

.WrongAnswers h3 {
    margin-left: 19px;
    margin-right: 17px;
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
    margin-top: 28px;
    margin-bottom: 14px;
}

.buttomtwo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25%;
}

.buttomtwo button {
    background-color: #ec362d;
    height: 54px;
    width: 368px;
    border-radius: 15px;
    margin-top: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    font-weight: 400;
    line-height: 25px;
    color: #fff5f4;
    cursor: pointer;
}


/* screen number four - create questions - end */



/* screen number five - create levels - outset */

.containerscreennumberfive {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .LevelsCreator {
    margin-top: 132px;
  }
  
  h4 {
    margin-bottom: 38px;
  }
  
  .LevelsCreator h4 {
    font-size: 23px;
    font-weight: 700;
    line-height: 27px;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .subcontainer2 {
    box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.2);
    background-color: #fafafa;
    padding-bottom: 38px;
  }

  .levelcontainer {
    margin-bottom: 38px;
    max-height: 1500px;
    background-color: #ffffff;
    transition: max-height 500ms;
  }
  
  .ToClickTwo {
    display: flex;
    justify-content: space-between;
    padding-top: 27px;
    margin-left: 19px;
    margin-right: 17px;
    margin-bottom: 12px;
  }
  
  .ToClick h3 {
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
  }

  .ToClickTwo ion-icon {
    height: 23px;
    width: 25px;
    display: none;
    cursor: pointer;
  }
  
  .LevelConfig {
    display: flex;
    flex-direction: column;
  }
  
  input {
    width: 564px;
    height: 46px;
    border-radius: 5px;
    border: solid 1px #d1d1d1;
    background-color: #ffffff;
    color: #bababa;
    font-style: italic;
    line-height: 22px;
    font-size: 19px;
    font-weight: 400;
    margin-left: 19px;
    margin-right: 17px;
    margin-bottom: 5px;
    padding-left: 23px;
  }
  
  .buttomtwo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25%;
  }

 .buttomtwo button {
    background-color: #ec362d;
    height: 54px;
    width: 368px;
    border-radius: 15px;
    margin-top: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    font-weight: 400;
    line-height: 25px;
    color: #fff5f4;
    cursor: pointer;
  }

/* screen number five - create levels - end */



/* screen number six - end of quiz creation - outset */

.containerscreennumbersix{
    padding-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.titlescreennumbersix{
    font-size: 23px;
    font-weight: 700;
    line-height: 27px;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4%;
}


.finalizequizz img{
    width: 500px;
    height: 266px;
    position: relative;
}

.finalizequizze h3{
    width: 309px;
    height: 54px;
    font-size: 23px;
    font-weight: 400;
    line-height: 27px;
    color: #FFFFFF;
   position: fixed;
}

.buttomthree {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom:1%;
  }

 .buttomthree button {
    background-color: #ec362d;
    height: 54px;
    width: 368px;
    border-radius: 15px;
    margin-top: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    font-weight: 400;
    line-height: 25px;
    color: #fff5f4;
    cursor: pointer;
  }

  .home{
    display: flex;
    justify-content: center;
    font-size: 21px;
   font-weight: 400;
   line-height: 25px;
   color: #818181;
   margin-bottom: 25%;
  }

/* screen number six - end of quiz creation - end */